// Need to include as shadow-dom prevents some spinner styles applying
@import "@coreui/coreui/dist/css/coreui.min.css";

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
