<form [formGroup]="aliasForm">
  <h6>Start</h6>
  <c-button-group class="radio-container">
    <ng-template ngFor let-option [ngForOf]="startOptions" let-i="index">
      <input class="btn-check" formControlName="start" [id]="'start-option-' + i" type="radio" [value]="option.value" />
      <label
        (click)="setPeriodByAlias('start', option.value)"
        [for]="'start-option-' + i"
        class="form-check-label btn btn-ghost-primary"
        [attr.data-input-disabled]="option.value !== 'custom' && !periodAliasValues.end[option.value] ? true : null"
      >
        <div>{{ option.label }}</div>
        <div class="sublabel">{{ option.sublabel || " " }}</div>
      </label>
    </ng-template>
  </c-button-group>
  <div class="custom-date-container">
    <input
      type="date"
      #customStartInput
      [disabled]="aliasForm.value.start !== 'custom'"
      [value]="dateValues.start"
      (change)="setPeriodCustomValue('start', customStartInput.value)"
    />
  </div>

  <h6>End</h6>
  <c-button-group class="radio-container">
    <ng-template ngFor let-option [ngForOf]="endOptions" let-i="index">
      <input class="btn-check" formControlName="end" [id]="'end-option-' + i" type="radio" [value]="option.value" />
      <label
        (click)="setPeriodByAlias('end', option.value)"
        [for]="'end-option-' + i"
        class="form-check-label btn btn-ghost-primary"
        [attr.data-input-disabled]="option.value !== 'custom' && !periodAliasValues.end[option.value] ? true : null"
      >
        <div>{{ option.label }}</div>
        <div class="sublabel">{{ option.sublabel || " " }}</div>
      </label>
    </ng-template>
  </c-button-group>
  <div class="custom-date-container">
    <input
      type="date"
      #customEndInput
      [disabled]="aliasForm.value.end !== 'custom'"
      [value]="dateValues.end"
      (change)="setPeriodCustomValue('end', customEndInput.value)"
    />
  </div>
</form>
