.btn:disabled {
  background-color: var(--cui-btn-disabled-bg);
  border-color: var(--cui-btn-disabled-border-color, transparent);
}
// Use secondary styles for disabled
.btn-info {
  --cui-btn-disabled-bg: #9da5b1;
  --cui-btn-disabled-border-color: #9da5b1;
  --cui-btn-disabled-color: #000015;
}
.submit-button {
  margin-left: 12px;
  margin-top: 1em;
  min-width: 100px;
}
.debug-info {
  margin-top: 1em;
  font-size: small;
  padding: 0.5em;
}
