:host {
  display: block;
  padding: 0.5rem;
  border: 1px solid #d8dbe0;
}
.missing-values-container {
  margin-top: 1em;
  padding-top: 1em;
  border-top: 1px solid black;
}
.missing-value-row {
  display: flex;
  margin-bottom: 0.5em;

  label {
    margin-right: 1em;
  }
}
.missing-value-input {
  width: 100px;
  margin-left: auto;
}
.missing-value-input:disabled {
  opacity: 0.5;
}
// HACK - manually style invalid inputs, should ideally be automated with form validation
input.ng-invalid {
  border: 1px solid #e55353;
}
