<c-container fluid>
  <!-- Force sidebar to not collapse via margin -->
  <c-sidebar visible class="no-collapse">
    <c-sidebar-brand> OpenCDMS Components </c-sidebar-brand>
    <c-sidebar-nav [navItems]="navItems"></c-sidebar-nav>
    <div class="app-version">v{{ appVersion }}</div>
  </c-sidebar>
</c-container>
<div class="sidebar-content">
  <h1 style="text-align: center">{{ activeElement.name }}</h1>
  <!-- Active component will be dynamically injected as webcomponent here -->
  <div [innerHtml]="activeElementHtml"></div>
</div>
<app-notification-display></app-notification-display>
