:host {
  display: block;
  position: absolute;
  top: 1em;
  left: 1em;
  z-index: 1031; // HACK - ensure in front of sidemenu
}

// Hack - imported close button not displaying correctly
button.btn-close {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='rgba%2844, 56, 74, 0.95%29'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") !important;
}

.image-container {
  height: 100%;
  text-align: center;
}
img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  max-width: 1024px;
  max-height: calc(100vh - 10em);
}
.response-container {
  width: calc(100vw - 2em);
  height: calc(100vh - 2em);
  display: flex;
  flex-direction: column;
  background: white;
}
.response-content-container {
  height: 100%;
  overflow: auto;
}
.save-button {
  margin-left: auto;
  display: flex;
  align-items: center;
}
